.AnimatedRoot {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AnimatedBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.AnimatedBlock.Active {
  opacity: 1;
  pointer-events: auto;
}
