.Wrapper {
  border: 2px solid var(--color-primary);
  border-radius: 4rem;
  width: 80px;
  height: 47px;
  position: relative;
  transition: border-color 0.3s ease;

  &__checked {
    border: 2px solid var(--color-accent-light);
  }
}

.BotIcon {
  position: absolute;
  top: 50%;
  left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;

  & :global(svg) {
    width: 26px;
    height: 23px;
    position: absolute;
  }

  &__checked {
    left: calc(100% - 25px);
    color: var(--color-accent-light);
  }
}
