.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.OverflowWidth {
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
  width: 50%;
  height: 100%;
  transition: width 0.5s;
  border-radius: 153px 0 0 153px;
  transition: width 0.3s ease-in-out;
}

.Carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 1399px;
  transition: transform 0.2s ease;
}

.Svg {
  & :global(.robotIcon),
  & :global(.SIcon),
  & :global(.BIcon) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;
  }
}

.Step {
  &_1 {
    & .Carousel {
      transform: translateX(-24%) translateY(-18%);
      transition: none;
    }
    & .OverflowWidth {
      width: 56%;
      transition: none;
    }
    & .Svg :global(.robotIcon) {
      transition: none;
      transform: translateY(30px);
      opacity: 0;
    }
  }
  &_2 {
    & .Carousel {
      transform: translateX(-28%) translateY(-5%);
    }
    & .OverflowWidth {
      width: 58%;
    }
    & .Svg :global(.BIcon) {
      transition: none;
      transform: translateY(30px);
      opacity: 0;
    }
  }
  &_3 {
    & .Carousel {
      transform: translateX(-40%) translateY(-4%);
      transition: transform 0.3s ease-in-out;
    }
    & .OverflowWidth {
      width: 57%;
    }
    & .Svg :global(.SIcon) {
      transition: none;
      transform: translateY(30px);
      opacity: 0;
    }
  }
  &_4 {
    & .Carousel {
      transform: translateX(-47%) translateY(18%);
    }
    & .OverflowWidth {
      width: 53%;
    }
  }
  &_5 {
    & .Carousel {
      transform: translateX(-54%) translateY(-10%);
    }
    & .OverflowWidth {
      width: 45%;
    }
  }
  &_6 {
    & .Carousel {
      transform: translateX(-57.3333%) translateY(-18%);
    }
    & .OverflowWidth {
      width: 56%;
      transition: width 0.3s ease-in-out;
    }
  }
}

.Svg {
}
