:root {
  --color-primary: #ffffff;
  --color-bg-primary: #09090b;
  --color-shadow-dark: #010101;
  --color-bg-gray: #141519;
  --color-accent-dark: #114337;
  --color-accent-light: #19ecb7;
  --color-disabled: rgba(217, 217, 217, 0.1);

  --shadow-btn-inner: inset 0 1px 8.3px 0px rgba(44, 243, 176, 41%);
}
